html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.fondito {
    border-right: solid 1px rgb(99, 66, 6);
    
}

.subrayado{
    text-decoration:none;
}