@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
   
</div>
 


<div> 

    <h5 style="text-align:center">Navegue por nuestra barra de menu para acceder a las funciones </h5>
 
</div>

<div>
    <img style="text-align:center;padding-left: 135px;height: 650px;width: 1159px;" src="images/Bienvenida.jpg" width="1024" height="768" alt="Imagen de bienvenida">
</div>